<div class="col-lg-9 tabContent" style="display: none">
	<h3>База знаний</h3>
	<div class="row" id='BZNavTabs'>
		<ul class="nav nav-tabs" >
			<li class="active" onclick = 'BZ.showOverviewTab(this);'><a href="#" >Общая информация</a></li>

			<li class='pull-right' onclick = "BZ.showSearchTab(this);"><a href="#">Поиск</a></li>
		</ul>
	</div>
	<div class="row" id='bzOverview'>
			<div class="list-group col-md-6" id='umOverviewNewUsersStatics'>
				<h5>Статистика по новым документам</h5>
				<a href="#" class="list-group-item ">
					За день <span class="badge">9</span>
				</a>
				<a href="#" class="list-group-item">
					За неделю <span class="badge">24</span>
				</a>
				<a href="#" class="list-group-item">
					</span> За месяц <span class="badge">100</span>
				</a>
				<a href="#" class="list-group-item">
					</span> За все время <span class="badge">390</span>
				</a>
			</div>
			<div class="list-group col-md-6" id='umOverviewActiveAllStatics'>
				<h5>Количество скачиваний</h5>
				<a href="#" class="list-group-item ">
					За день <span class="badge">9</span>
				</a>
				<a href="#" class="list-group-item">
					За неделю <span class="badge">24</span>
				</a>
				<a href="#" class="list-group-item">
					</span> За месяц <span class="badge">100</span>
				</a>
				<a href="#" class="list-group-item">
					</span> За все время <span class="badge">390</span>
				</a>
			</div>
			<div class="list-group col-md-6" id='umOverviewUniversityStatics'>
				<h5>Количество скачиваний по предметам</h5>
				<a href="#" class="list-group-item ">
					ЛЭТИ <span class="badge">9</span>
				</a>
				<a href="#" class="list-group-item">
					ИТМО <span class="badge">24</span>
				</a>
				<a href="#" class="list-group-item">
					СПБГУ <span class="badge">100</span>
				</a>
				<a href="#" class="list-group-item">
					Первый Мед <span class="badge">390</span>
				</a>
			</div>
			<div class="list-group col-md-6" id='umOverviewCitiesStatics'>
				<h5>Количество документов по универам</h5>
				<a href="#" class="list-group-item ">
					ЛЭТИ <span class="badge">9</span>
				</a>
				<a href="#" class="list-group-item">
					ИТМО <span class="badge">24</span>
				</a>
				<a href="#" class="list-group-item">
					СПБГУ <span class="badge">100</span>
				</a>
				<a href="#" class="list-group-item">
					Первый Мед <span class="badge">390</span>
				</a>
			</div>

	</div>
</div>
