<div class="col-md-3">
	<ul class="nav nav-pills nav-stacked" id='navBarLeft'>
		<li class="nav-header">Мониторинг</li>
		<li class='active' onclick='Nav.moveToUsers(this);'><a href="#">Пользователи</a></li>
		<li onclick='Nav.moveToBZ(this);'><a href="#">База знаний</a></li>
		<li onclick='Nav.moveToIM(this);'><a href="#">Диалоги</a></li>
		<li class="nav-header">Редактирование</li>
		<li onclick='Nav.moveToStaticDataEdit(this);'><a href="#">Редактирование статических данных</a>
		<li onclick='Nav.moveToFB(this);'><a href="#">Обратная связь</a></li>
	</ul>
</div>