<div class="col-lg-9 tabContent" id="staticDataTab" style="display:none">
	<h3>Статические данные</h3>
	<div class="row" data-value="navigation">
		<ul class="nav nav-tabs" >
			<li class="active"><a href="#">Университеты</a></li>
			<li class=""><a href="#" >Факультеты</a></li>
			<li class=""><a href="#" >Предметы</a></li>
			<li class=""><a href="#" >Типы работ</a></li>
		</ul>
	</div>
	<div class="row" data-value='universityTab'>
		<div class="col-lg-8">
			<br>
			<table class="table table-striped table-bordered">
				<thead class=''>
				<tr>
					<th>Название</th>
					<th>Краткое название</th>
					<th>Активен</th>
				</tr>
				</thead>
				<tbody>
				<tr class="bg-success">
					<td>СПБГЭТУ ЛЭТИ</td>
					<td>ЛЭТИ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>
				<tr class=''>
					<td>Санкт-Петербургский Государственный Университет</td>
					<td>СПБГУ</td>
					<td>Да</td>
				</tr>

				</tbody>
			</table>
		</div>
		<br>
		<div class="col-lg-4 list-group " >
			<div class="sidebar-nav-fixed affix" style='padding: 5px; border: solid 1px #9d9d9d; '>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>id:</b>
				</span>
					<span >21309894732322382939</span>
				</li>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>Название</b>
				</span>
					<span contenteditable="true">СПБГЭТУ ЛЭТИ</span>
				</li>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>Краткое название:</b>
				</span>
					<span contenteditable="true">ЛЭТИ</span>
				</li>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>Активирован:</b>
				</span>
				<span>
					<select class=''>
						<option value="true">Да</option>
						<option value="false">Нет</option>
					</select>
				</span>
				</li>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>Улица:</b>
				</span>
					<span contenteditable="true">профессора Попова</span>
				</li>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>Дом:</b>
				</span>
					<span contenteditable="true">5</span>
				</li>
				<li class='list-group-item list-group-item'>
				<span style='display:inline-block; margin-right: 10px;'>
					<b>Город:</b>
				</span>
					<span contenteditable="true">Санкт-Петербург</span>
				</li>
				<br>
				<p class="btn btn-success pull-right ">Сохранить</p>

			</div>

		</div>
	</div>
</div>